@import 'reset.scss';
@import 'minxins.scss';

body {
    background: red;
    font-size: 30px;
    .box {
        border: 2px solid #ccc;
        transform: translateY(30px);
        background-image: url('../images/scss-img.jpg');
        @include align-justify;
    }
}