@import './util/index.scss';

.text-center {
    text-align: center;
}

.ds-bg {
    width: 100%;
    position: relative;
    z-index: 10;
    .ds-bg-img {
        width: 100%;
        display: block;
    } 
    .driver {
        width: px2rem(600);
        position: absolute;
        left: px2rem(75);
        z-index: 11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: px2rem(445);
        .phone-wrap {
            width: px2rem(600);
            height: px2rem(100);
            @include align-justify();
            background: #fff;
            border-radius: 5px;
            .phone {
                width: 100%;
                height: 100%;
                font-size: px2rem(42);
                text-align: center;
                border: none;
                outline: none;
                box-shadow: 0 0 0px 1000px white inset !important;
                border-radius: 10px;
            }
        }
        .btn-wrap {
            .ds-btn {
                width: px2rem(480);
                height: px2rem(80);
                @include align-justify();
                button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: px2rem(32);
                    color: #FF4F4F;
                    background: #FFBF06;
                    border: none;
                    outline: none;
                    border-radius: px2rem(40);
                    &:active {
                        color: rgb(250, 33, 33);
                        background-color: rgb(240, 172, 0);
                    }
                }
            }
        }
    }
}

.ds-desc {
    >img {
        display: block;
        width: 100%;
    }
}

.m-t-36 {
    margin-top: px2rem(36);
}
.m-t-32 {
    margin-top: px2rem(32);
}

input.phone-plac::-webkit-input-placeholder {
    font-size: px2rem(30);
    color: rgba(219,219,219,1);
}

.notice-wrap {
    display: none;
    &.show {
        display: block;
    }
}

.notice-mask {
    @include mask(12);
    @include align-justify();
    background: rgba($color: #000000, $alpha: 0.4);
    .notice {
        width: 80%;
        background: #fff;
        border-radius: 5px;
        .text-wrap {
            padding: 10px;
            .text {
                font-size: px2rem(40);
            }
        }
        .iknow-wrap {
            @include align-justify(); // background: red;
            .iknow {
                margin: 10px auto;
                padding: 10px 15px;
                text-align: center;
                font-size: px2rem(40);
                background: green;
                border-radius: 5px;
            }
        }
    }
}