@import 'reset.scss';
@import 'minxins.scss';

body {
    background: red;
    font-size: 30px;
    .box {
        border: 2px solid #ccc;
        transform: rotate(15deg);
        background-image: url('../images/scss-img.jpg');
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box2 {
        background: linear-gradient(red, blue);
    }
}