* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

img {
  width: 100%;
  display: block;
}

.m-t-36 {
  margin-top: px2vw(36);
}

.m-t-32 {
  margin-top: px2vw(32);
}

