@import '../index.scss';
// 弹窗
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
    &.show {
        display: flex;
    }
    &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 21;
    }
    .modal-wrap {
        width: px2rem(680);
        min-height: px2rem(770);
        margin-top: px2rem(-206);
        background-color: #fff;
        position: relative;
        z-index: 22;
        border-radius: 5px;
    }
}

// 弹窗主显示区域
.modal-content {
    display: flex;
    flex-direction: column;
    .modal-text-wrap {
        padding: 0 px2rem(30);
        height: px2rem(620);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modal-btn-wrap {
        height: px2rem(148);
    }
}

.modal-text-wrap {
    .modal-text {
        font-size: px2rem(35);
        font-weight: bold;
        color: #fc3252;
        line-height: 1.5;
    }
    .text-gray {
        margin-top: px2rem(5);
        font-size: px2rem(28);
        color: #999999;
    }
}

// 确定按钮
.modal-btn-wrap {
    min-height: px2rem(150);
    display: flex;
    justify-content: center;
    .modal-btn {
        width: px2rem(600);
        height: px2rem(90);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: px2rem(40);
        color: #fff;
        background: #FFB600;
        border-radius: px2rem(45);
    }
}

// 司机注册的弹窗辅助样式
.act-signup {
    .modal-content {
        .modal-text-wrap {
            width: 100%;
            flex-direction: column;
            .modal-img-wrap {
                margin-top: px2rem(73);
                .img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .modal-text {
            margin-top: px2rem(40);
            .text {
                font-size: px2rem(30);
                font-weight: 500;
                color: #909090;
                text-align: center;
            }
        }
    }
    &.unapply,
    &.unmatch,
    &.get,
    &.over {
        .img {
            margin-left: px2rem(20);
        }
    }
    &.get {
        .modal-img-wrap {
            width: px2rem(349);
        }
        .modal-text {
            width: px2rem(450);
            margin-top: px2rem(40);
        }
    }
    &.subscribe {
        .modal-img-wrap {
            width: px2rem(344);
        }
        .modal-text {
            width: px2rem(480);
            margin-top: px2rem(20);
        }
    }
    &.unmatch {
        .modal-img-wrap {
            width: px2rem(378);
        }
        .modal-text {
            width: px2rem(330);
        }
    }
    &.unapply {
        .modal-img-wrap {
            width: px2rem(366);
        }
        .modal-text {
            width: px2rem(390);
        }
    }
    &.nofound {
        .modal-img-wrap {
            width: px2rem(337);
        }
        .modal-text {
            width: px2rem(360);
        }
    }
    &.success {
        .modal-img-wrap {
            width: px2rem(490);
        }
        .modal-text {
            width: px2rem(426);
            margin-top: px2rem(15);
        }
    }
    &.error {
        .modal-img-wrap {
            width: px2rem(378);
        }
        .modal-text {
            width: px2rem(330);
        }
    }
    &.over {
        .modal-img-wrap {
            width: px2rem(366);
        }
        .modal-text {
            width: 100%;
        }
    }
    &.audit {
        .modal-img-wrap {
            width: px2rem(366);
        }
        .modal-text {
            width: px2rem(390);
        }
    }
}