@import './modal.animate.scss';

// 弹窗
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .modal-wrap {
    width: 100%;
    max-height: 80%;
    margin: -30% 20px 0;
    background-color: #fff;
    position: relative;
    z-index: 22;
    border-radius: 5px;
  }
  .modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 21;
  }
}

// 弹窗主显示区域
.modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px;
  // 弹窗主内容显示区域
  .modal-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  // 弹窗主内容按钮区域
  .modal-btn-wrap {
    flex: 1;
    margin: 15px 0;
  }
}

// 弹窗主内容显示区域
.modal-text-wrap {
  .modal-img-wrap {
    // 图片
    max-width: 80%;
    margin: 15px 0;
  }
  .modal-text {
    font-size: 16px;
    font-weight: bold;
    color: #fc3252;
    line-height: 1.5;
  }
}

// 确定按钮
.modal-btn-wrap {
  display: flex;
  justify-content: center;
  // padding: 0 15px;
  .modal-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    line-height: normal;
    color: #fff;
    background: #ffb600;
    border-radius: 30px;
    user-select: none;
    border: none;
    outline: none;
    &:active {
      background-color: rgb(240, 172, 0);
    }
  }
}
